header {
  background: #4B45E7;
}

main {
  dispay: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
  grid-gap: 30px;
}

aside {
  background: #EF5350;
}

footer {
  background: #b1ffb1;
}

article {
  background: #ffffff;
}
