header {
  grid-area: header;
  background: #4B45E7;
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
  grid-gap: 30px;
}

aside {
  grid-area: aside;
  background: #EF5350;
}

footer {
  grid-area: footer;
  background: #b1ffb1;
}

article {
  grid-area: article;
  background: #f2f2f2;
}
